doctype html
html(lang="en")
  head
    title Bernardo Sunderhus
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
    if webpackConfig.mode === 'production'
      each css in htmlWebpackPlugin.files.css
        link(rel="stylesheet", href=css)
      script(src=htmlWebpackPlugin.files.chunks['page-hero'].entry)
      script(src=htmlWebpackPlugin.files.chunks['mark-down'].entry)
      script(src=htmlWebpackPlugin.files.chunks['nav-router'].entry)
  body
    nav-router#router
      page-hero.hero(src=require('./images/hero.png') half)
        a#home-anchor.hero--avatar(href="/" title="Home")
          img.hero--avatar_photo(src=require('./images/avatar.png'))
        nav.hero--links
          a.hero--links_item(href="mailto:bernardo.sunderhus@gmail.com" title="e-mail")
            i.hero--links_item_icon.fas.fa-envelope.fa-2x
          a.hero--links_item(href="https://www.facebook.com/bernardo.sunderhus" target="_blank" title="facebook")
            i.hero--links_item_icon.fab.fa-facebook.fa-2x
          a.hero--links_item(href="https://github.com/sunderhus" target="_blank" title="github")
            i.hero--links_item_icon.fab.fa-github.fa-2x
      .hero--relative
        .tabs
          a#about-anchor.tabs--item(href="/about" title="About")
            | About
          a#resume-anchor.tabs--item(href="/resume" title="Resumé")
            | Resumé
      main#content.markdown-content
        nav-route(path="/")
          mark-down(src=require('./docs/home.md'))
        nav-route(path="/about")
          mark-down(src=require('./docs/about.md'))
        nav-route(path="/resume")
          | should put my cv here
    if webpackConfig.mode === 'production'
      script(src=htmlWebpackPlugin.files.chunks.main.entry)
    else
      each js in htmlWebpackPlugin.files.js
        script(src=js)
