html(lang="en")
  head
    title Bernardo Sunderhus
    //- metadata
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    //- //- favicons
    link(rel="icon" type="image/png" sizes="48x48" href=require("./images/favicon.ico"))
    link(rel="apple-touch-icon" sizes="180x180" href=require("./images/apple-touch-icon.png"))
    link(rel="icon" type="image/png" sizes="32x32" href=require("./images/favicon-32x32.png"))
    link(rel="icon" type="image/png" sizes="16x16" href=require("./images/favicon-16x16.png"))
    //- fonts
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
    //- scripts
    if webpackConfig.mode === "production"
      each css in htmlWebpackPlugin.files.css
        link(rel="stylesheet", href=css)
      script(src=htmlWebpackPlugin.files.chunks.components.entry)
  body
    div
      | oi
    if webpackConfig.mode === "development"
    if webpackConfig.mode === "production"
      script(src=htmlWebpackPlugin.files.chunks.main.entry)
    else
      each js in htmlWebpackPlugin.files.js
        script(src=js)
